@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full px-3 py-2 rounded bg-[#1F2937] text-white outline-none border border-[#1F2937] focus:border-purple-500;
}

.btn-primary {
  @apply bg-purple-600 hover:bg-purple-700 px-4 py-2 rounded font-semibold transition disabled:bg-gray-600;
}

.card {
  @apply bg-[#111827] border border-[#1F2937] rounded-xl p-6;
}
